@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url("./images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 300px;
  padding: 30px;
  background: linear-gradient(
    0deg,
    rgba(120, 120, 120, 0.158),
    rgba(160, 160, 160, 0.2)
  );
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0, 0.5);
  backdrop-filter: blur(16px);
  backface-visibility: blur(16px);
  border-radius: 10px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.178);
  border: 1px solid rgba(255, 255, 255, 0.137);
}

.heading {
  font-size: 24px;
  text-align: center;
  margin: 5px 0;
  color: #ececec;
}
.content {
  font-size: 16px;
  text-align: center;
  color: #ececec;
}

.box {
  margin: 10px 0;
}

label {
  display: block;
  font-size: 14px;
  color: #ececec;
  margin: 5px 0;
}

input {
  padding: 8px 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.5);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.137);
}

p {
  text-align: end;
  color: #ececec;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.btn {
  padding: 8px 10px;
  text-align: center;
  background: transparent;
  border: none;
  color: #ececec;
  width: 100%;
  margin: 10px 0px;
  outline: none;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.178);
  border: 1px solid rgba(255, 255, 255, 0.137);
}
